.App {
  text-align: center;
}

body {
  background-color: #fafafa;
  display: grid;
  place-items: center;
}
.title {
  margin-top: 0;
  margin-bottom: 50px;
}

.container {
  background-color: #ffffff;
  border: 0.2px solid grey;
  margin: 80px;
  padding: 70px;
  height: 300px;
}

input {
  width: 300px;
  padding: 7px;
  margin-left: -40px;
  margin-right: -40px;
  background-color: #fafafa;
  border: 0.01px solid grey;
  border-radius: 2px;
}

button {
  background-color: #0095f6;
  border: none;
  width: 270px;
  padding: 7px;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.btnContainer {
  margin-left: 0px;
  margin-right: 0;
  margin-top: 15px;
}
span {
  color: #0095f6;
  font-weight: 600;
  cursor: pointer;
}

.errormsg {
  color: red;
  font-size: 13px;
}
